#camera-pack {
    margin-top: 20px;
}

#camera-pack img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}





body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #444;
}

.product {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

button.add-to-cart {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

button.add-to-cart:hover {
    background: #218838;
}

#cart ul {
    list-style: none;
    padding: 0;
}

#cart li {
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
